/* GENERAL */
width: 30px;
height: 3px;
background: #fff;
margin: 4px 0;
}


/* MENÚ EN MÓVIL */
@media (max-width: 768px) {


.logo img {
width: 300px; /* Tamaño ideal móvil */
}


nav {
display: none;
flex-direction: column;
background-color: #000;
position: absolute;
right: 20px;
top: 80px;
padding: 15px;
border-radius: 10px;
gap: 15px;
z-index: 9999; /* SOLUCIÓN: evita que se mezcle con el contenido */
}


nav.open {
display: flex;
}


.hamburger {
display: flex;
}
}


/* SECCIONES */
.section {
padding: 60px 40px;
}


h1, h2 {
color: #eee;
}


p, li {
color: #bbb;
}


/* REDES */
.social a {
color: #ccc;
margin-right: 20px;
text-decoration: none;
}


.social a:hover {
color: #fff;
}


/* FOOTER */
footer {
text-align: center;
padding: 20px;
background-color: #000;
color: #777;
}


/* ANIMACIÓN */
.fade-in {
opacity: 0;
transform: translateY(20px);
animation: fadeIn 1s ease-out forwards;
}


@keyframes fadeIn {
to {
opacity: 1;
transform: translateY(0);
}
}
